.menuBar .logo img{
    width: 250px ;
    padding: 20px 50px;
}
.menuBar{
    display: flex;
    justify-content: space-between;
}
.authArea{
    padding-top: 20px;
    padding-right: 50px;
}
.authArea span{
    font-size: 17px;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.login{
    padding:10px 30px;
    font-weight: 700;
    border-radius: 25px;
    margin-right: 10px;
    color: black;
}
.login:hover{
    background: red;
    padding:10px 30px ;
    border-radius: 25px;
    color: white;
}
.signUp{
    background: red;
    padding:10px 25px ;
    border-radius: 25px;
    color: white ;
    font-weight: 700;
}
.signUp:hover{
    color: white;
}